{% load static %}
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>INN magic</title>
<link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'styles/spectre.min.css' %}">
<link rel="stylesheet" href="{% static 'styles/styles.css' %}">